<section>
    <div class="grid-x">
        <aside class="cell small-1">
            <div>
                <a href="">
                    <img src="assets/images/02.png" alt="">
                </a>
            </div>
            <div>
                <a href="">
                    <img src="assets/images/03.png" alt="">
                </a>
            </div>
            <div>
                <a href="">
                    <img src="assets/images/04.png" alt="">
                </a>
            </div>
        </aside>
        <div class="cell small-11" style="height: 100vh">
            <div class="grid-y grid-frame">
                <header class="cell medium-2">
                    <h1>Raptor Plan</h1>
                    <p class="description">Create your plan of success!</p>

                </header>
                <main class="cell medium-10 cell-block-container">
                    <div class="grid-x">
                        <div class="cell cell-block-y">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                   
                </main>
            </div>
        </div>
    </div>
</section>