<section>
    <div class="grid-x">
        <aside class="cell small-1">
            <div>
                <a (click)="redirectTo('/')">
                    <img src="assets/images/home.ico" alt="">
                </a>
            </div>
            <div>
                <a (click)="redirectTo('pathway')">
                    <img src="assets/images/transfer.png" alt="">
                </a>
            </div>
            <div>
                <a (click)="redirectTo('academicplan')">
                    <img src="assets/images/academic-plan.png" alt="">
                </a>
            </div>
        </aside>
        <div class="cell small-11" style="height: 100vh">
            <div class="grid-y grid-frame">
                <header class="cell medium-2">
                    <h1>Raptor Plan</h1>
                    <p class="description">Create your plan of success!</p>

                </header>
                <main class="cell medium-10 cell-block-container">
                    <div class="grid-x cell-block-y">
                        <div class="cell">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</section>